@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazir";
  src: url("./assets/vazirmatn-v33.003/fonts/ttf/Vazirmatn-Medium.ttf");
}

@font-face {
  font-family: "vazir-digits";
  src: url("./assets/vazirmatn-v33.003/misc/Farsi-Digits/fonts/ttf/Vazirmatn-FD-Black.ttf");
}


* {
  font-family: vazir;
  direction: rtl;
}

.number {
  font-family: vazir-digits;
}

body {
  @apply bg-green-900 text-white
}

.nav-link {
  @apply text-lg font-bold duration-300
}
.nav-link:hover{
  @apply text-yellow-500
}