@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "vazir";
  src: url("./assets/vazirmatn-v33.003/fonts/ttf/Vazirmatn-Medium.ttf");
}

@font-face {
  font-family: "vazir-digits";
  src: url("./assets/vazirmatn-v33.003/misc/Farsi-Digits/fonts/ttf/Vazirmatn-FD-Black.ttf");
}


* {
  font-family: vazir;
  direction: rtl;
}

.number {
  font-family: vazir-digits;
}


body {
  @apply bg-green-950 text-white
}

section {
  @apply py-20 md:py-28
}

h1 {
  @apply text-3xl md:text-4xl xl:text-5xl font-bold
}

.nav-link {
  @apply text-lg font-bold duration-300
}

.nav-link:hover {
  @apply text-yellow-500
}

.btn {
  @apply border border-yellow-500 bg-yellow-500 rounded px-5 py-2 duration-300
}

.btn:hover {
  @apply opacity-90
}

.btn span {
  @apply font-bold
}

.btn_outline {
  @apply bg-transparent
}

.btn_outline:hover {
  @apply bg-yellow-500
}
